md-card

    .card-imovel-capa
        background-size cover
        height 250px
        

    md-card-content
        color #343838
        font-weight: 300;

        .tipo
            font-size: 20px;
            font-weight: 400;
            font-size: 18px;
            padding-bottom 5px
        
        .pretensao
            color #4f7b81
            font-size: 15px;
            text-align right
            font-weight: 400;
            text-transform: uppercase;
            padding-bottom 5px
        
        .area
            text-align right
            
        .box-dependencias
            margin-top: 25px;
            
    md-card-actions
        margin-bottom 20px
        

@media (max-width: 400px)

    md-card .card-imovel-capa
            height: 180px;

@media (min-width: 1000px) and (max-width: 1380px)

    md-card .card-imovel-capa
        height: 200px;
    
