<!-- CADASTRAR BTN -->
<md-button ng-click="vm.cadastrarVideoSite()" class="md-fab md-accent" aria-label="Adicionar Vídeo Site" style="position: fixed; right: 30px; bottom: 30px;">
    <md-icon class="material-icons" aria-label="add">add</md-icon>
</md-button>

<md-toolbar class="md-table-toolbar md-whiteframe-1dp">
    <div class="md-toolbar-tools">
        <span>Vídeos Site</span>
    </div>
</md-toolbar>

<md-content class="md-whiteframe-1dp" style="">
    <form ng-submit="vm.carregarVideosSite()">
        <div flex layout="row" layout-padding layout-wrap>
            <div flex layout="column">
                <div layout="row" layout-align="center">
                    <md-input-container flex>
                        <input placeholder="Buscar" ng-model="vm.query.q">
                    </md-input-container>
                </div>
            </div>
        </div>
    </form>
</md-content>



<md-table-container class="md-whiteframe-1dp table-primary">
    <table md-table ng-model="vm.selected" md-progress="vm.promise">
        <thead md-head>
            <tr md-row>
                <th md-column><span>Título</span></th>

                <th md-column width="50"><span>Ações</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="registro" md-select-id="{{registro.id}}" md-auto-select ng-repeat="registro in vm.registros.data">
                <td md-cell>{{registro.title}}</td>
                <td md-cell>    
                    <div ui-sref="painel.videos-site.salvar({id: registro.id})" class="fl">
                        <md-button class="md-fab md-mini md-primary" aria-label="Editar">
                            <md-icon class="material-icons" aria-label="create">create</md-icon>
                        </md-button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination class="md-whiteframe-1dp table-primary" md-limit="vm.query.limit" md-page="vm.query.page" md-total="{{vm.registros.total}}" md-on-paginate="vm.carregarVideosSite" md-page-select></md-table-pagination>