// Privacidade

article#privacidade
    padding 80px 20px; height auto !important
    div
        >>> p
            color #fff; font-size rem(15); line-height rem(25); 
            span
                color $laranja; font-size rem(28); font-weight $font-light;
            strong
                color $laranja; font-size rem(18)

+mobile-600()
    article#privacidade
        padding 20px