.section-auth
    position relative
    background-color #343838
    height 100%
    //background-image: url('../img/bg-auth.png');
    background-size: cover;
    background-position: top left;
    overflow auto
    .logo
        fill #40818A

    .box-auth
        position: relative;
        background-color #ffffff
        max-height: initial;

    .progress-content
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        z-index: 2000;
        background: rgba(255, 255, 255, 0.90);
