.content-card-usuarios
    .face
        border-radius 50%
        border 1px solid #ddd
        height 100px
        margin 0 auto 20px
        width 100px
    .md-body-1
        margin-top 0
    .md-body-2
        margin 0