// Variables, Sizes and Medias
@require 'lib/variables'
@require 'lib/sizes'
@require 'lib/medias'

// Normalize css
@require '../../../node_modules/normalize-styl'

// Resets gerais não contemplados pelo normalize
@import 'lib/resets'

// Estilos gerais
@import 'geral'

// Estilos especificos
@import 'config'
